<ul>
  <li style="float:inline-start"><a class="logo" (click)="nextPage('home')"><img src='../../assets/Images/Logo.gif' alt="GIPHER LOGO" width="60px" />&nbsp;GIPHER-Gif for all&nbsp;</a></li>
  
  <li style="float:right">
    <a class="logout" (click)="nextPage('logout')">Logout</a>
  </li>
  
  <li style="float:right" *ngIf='profileEnabler'>
      <a class="content" (click)="nextPage('user')" matTooltip="Your Profile page">
        <fa-icon [icon]="faUser"></fa-icon>
      </a>
      <!-- <span class='hide'>View Profile</span> -->
  </li>
  
  <li style="float:right" *ngIf='favoriteEnabler'>
    <a class="active" class="content" (click)="nextPage('favs')" matTooltip="Your selected favorites">
      <fa-icon [icon]="faFav"></fa-icon>
    </a>
  </li>

</ul>
<div class="input-group mb-3" *ngIf='searchEnabler'>
  <input type="text" class="form-control" placeholder="Search for gif here" aria-label="Search"
  name='searchString' [(ngModel)]='searchString' >
  <button class="btn btn-outline-dark" type="button" id="button-addon2" (click)="searchClicked()"><fa-icon [icon]="faSearch"></fa-icon></button>
</div>