<app-header [searchEnabler]='showSearchBar' [profileEnabler]='showProfileLink'></app-header>
<div>
    <img [src]='coverImgUrl' class="coverImg" />
    <div>
        <img [src]='profileAvatar' class="profileImg" />
    </div>
</div>
<div class="profileContent">
    <h2>{{user.userId}}</h2>
    <div class="profileTable">
        <table>
            <tr>
                <th>Name</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>{{user.dateOfBirth.getDate()}}-{{months[user.dateOfBirth.getMonth()]}}-{{user.dateOfBirth.getFullYear()}}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{userAge}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="bottomDiv">
    <p style="display: none;">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</div>