div{ 
    padding : 1%;  
    background-color: 009900; 
    width: 30%; 
    
    } 

.leftdiv { 
    float: left;
    width: 70%;
    border-right: dotted rgba(214, 185, 185, 0.596) ; 
    } 

.rightdiv{
    float: left;
    width: 30%;
    }