<ul>
    <li style="float:right">
        <a href="/home" class="content">
          <fa-icon [icon]="faIdCard"></fa-icon>
        </a>
        <span class='hide'>Abhijnan Pradhan</span>
    </li>
    
    <li style="float:right">
        <a href="/home" class="content">
          <fa-icon [icon]="faIdCard"></fa-icon>
        </a>
        <span class='hide'>Sufiyan Ali</span>
    </li>
    
    <li style="float:right">
      <a class="active" href="/home" class="content">
        <fa-icon [icon]="faIdCard"></fa-icon>
      </a>
      <span class='hide'>Sayan Tapadar</span>
    </li>
  
  </ul>