<mat-grid-list cols="3" rowHeight="1:2">
    <mat-grid-tile>
        <mat-card style="width: 100%; border: 2px solid rgba(224, 204, 204, 0.692);">
            <mat-card-title>Simple card 1</mat-card-title>
            <img mat-card-image src="../../assets/Images/Logo.gif"/>
            <mat-card-subtitle>
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: right; padding: 5px;">
                            <fa-icon [icon]="faFav"></fa-icon>&nbsp;
                            <fa-icon [icon]="faRecommend"></fa-icon>
                        </td>
                    </tr>
                    
            </table>
            </mat-card-subtitle>
        </mat-card>&nbsp;
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 100%; border: 2px solid rgba(224, 204, 204, 0.692);">
            <mat-card-title>Simple card 2</mat-card-title>
            <img mat-card-image src="../../assets/Images/Logo.gif"/>
            <mat-card-subtitle>
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: right; padding: 5px;">
                            <fa-icon [icon]="faFav"></fa-icon>&nbsp;
                            <fa-icon [icon]="faRecommend"></fa-icon>
                        </td>
                    </tr>
                    
            </table>
            </mat-card-subtitle>
        </mat-card>&nbsp;
    </mat-grid-tile>
    <mat-grid-tile><mat-card>Simple card 3</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Simple card 4</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Simple card 5</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Simple card 6</mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>Simple card 7</mat-card></mat-grid-tile>
</mat-grid-list>